{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": ["error", { "allow": ["error", "info"] }],
    "arrow-parens": ["error", "as-needed"],
    "no-undef": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
    }],
	"no-param-reassign": "off"
  }
}
