.asd {
    padding: 60px;
    text-align: center;
    background: #6C7A89;
    color: white;
}  

.asd > .title {
    font-size: 50px;
}
.asd > .caption {
    font-size: 20px;
}

.social-icons-container{
    position:absolute;
    top:0;
    right:0; 
    padding: 20px 10px;
}

.social-icons-container img{
    width: 30px;
    height: auto;  
    padding-right: 10px
}   